{% extends 'base_generic.html' %}
{% block content %}
<style>
  .form-group{
    margin-bottom: 18px;
  }
</style>
<div class="content-section">
  <form action="" method="post">
    {% csrf_token %}
    <fieldset>
      <legend class="border-bottom mb-4">Login</legend>
      {% if form.errors %}
        <div class="alert alert-danger">{{ form.non_field_errors }}</div>
      {% endif %}
      <div class="form-outline">
        <input type="text" id="username" name="username" class="form-control form-control-lg" required/>
        <label class="form-label" for="formControlLg">Username</label>
      </div>
      <div class="form-outline mt-4">
        <input type="password" id="password" name="password" class="form-control form-control-lg" required />
        <label class="form-label" for="formControlLg">Password</label>
      </div>
    </fieldset>
    <div class="my-3 text-center">
      <button class="btn btn-primary" type="submit">Sign up</button>
      <small class="text-muted mx-2">
        <a href="{% url 'password_reset' %}">Forgot Password?</a>
      </small>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">Need An Account ? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a></small>
  </div>
</div>
{% endblock %}